@font-face {
  font-family: titleFont;
  src: url(../GrundfosTheSansV2OT-4SL.otf); }
@font-face {
  font-family: textFont;
  src: url(../GrundfosTheSansV2OT-6SB.otf); }
.gridContainer {
  display: grid;
  grid-template-areas: 'header header header header header header' 'menu main main main main main' 'menu main main main main main' 'footer footer footer footer footer footer';
  grid-gap: 15px;
  padding: 0;
  margin: 0;
  background-color: #DCDCDC; }
  .gridContainer__div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    border-color: black; }

.grundfosHeader {
  grid-area: header; }

.rightNavMenu {
  grid-area: menu; }
  .rightNavMenu__a {
    display: block;
    text-decoration: none;
    font-family: textFont;
    color: #333333;
    text-align: center; }

.mainContent {
  grid-area: main; }

.userList {
  grid-area: main;
  overflow: hidden;
  overflow-y: scroll;
  height: 500px;
  width: 60%; }
  .userList__li {
    list-style-type: none;
    text-align: center;
    line-height: 1em;
    color: #333333;
    font-family: textFont; }

.grundfosFooter {
  grid-area: footer;
  text-align: center; }
