@font-face {
    font-family: titleFont;
	src: url(../GrundfosTheSansV2OT-4SL.otf);
}

@font-face {
	font-family: textFont;
	src: url(../GrundfosTheSansV2OT-6SB.otf);
}

$font-titles: titleFont;
$font-text: textFont;
$font-bodytext: Tahoma, sans-serif;
$color-backgroundlight: #DCDCDC;
$color-backgrounddark: #959595;
$color-blackfont: #333333;
$color-bodytext: #727272;
$color-texthighlight: #0068B4;
$color-ctabutton: #6EB556;
$color-stndbutton: #3386C3;
$color-negbutton: #999999;
$color-inactbutton: #DEDEDE;
$color-whitefont:#eee;

body {
    margin:0;
}

.gridContainer {
    display: grid;
    grid-template-areas: 'header header header header header header'
    'menu main main main main main'
    'menu main main main main main'
    'footer footer footer footer footer footer';
    grid-gap: 15px;
    padding: 0;
	margin: 0;
	background-color: $color-backgroundlight;
	
	&__div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
	padding: 20px 0;
	border-color: black;
	}
}

.grundfosHeader {
	grid-area: header;
}


.leftNavMenu {
    grid-area: menu;
	
	&__a {
		display: block;
		text-decoration: none;
		font-family: $font-text;
		color: $color-blackfont;
		text-align: center;
	}
}

.mainContent {
	grid-area: main;
    text-align: left;
    padding:0 50px 50px 50px;
    min-height:70vh;
}

.userList {
	grid-area: main;
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
    width: 60%;
	
	&__li {
    list-style-type: none;
    text-align: center;
    line-height: 1em;
	color: $color-blackfont;
	font-family: $font-text;
	}
}

.grundfosFooter {
	grid-area: footer;
	text-align: center;
}

/* Index.php */

.intro {
    
    h1 {
        font-size:35px;
        font-family:$font-titles;
    }
    p {
        font-family:$font-bodytext;
        font-size:16px;
        
        strong {
            color:$color-texthighlight;
        }
    }
}

.intro-banner {
    background-image:url(../img/intro-banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height:325px;
    color:$color-whitefont;
    
    h2 {
        font-size:43px;
        font-family:$font-titles;
        padding-left:30px;
        padding-top:30px;
        margin-bottom:0;
    }
    
    p {
        font-size: 22px;
        font-family:$font-bodytext;
        padding-left:30px;
        margin-top:0;
        padding-top:30px;
        padding-bottom:30px;
    }
    
    .linkedIn {
        margin-top:30px;
        text-align: right;
    }
    
    .linkedIn:hover {
        opacity:0.8;
    }
}

.highlighted-data {
    color:$color-texthighlight;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    background-color:$color-backgroundlight;
    
    &__overview {
        
        padding-left:30px;
        
        ul {
            list-style-type: none;
            padding:0;
            
            i {
                color:$color-negbutton;
                width:20px;
            }
            
            li {
                margin-top:20px;
                font-family: $font-text;
                color:$color-blackfont;
            }
        }
    }
    
    h3 {
        font-family:$font-titles;
        font-size:35px;
        color:$color-blackfont;
    }
    
    &__diplomaProgress {
        
        padding-bottom:0px;
        
        .diploma-name {
            float:left;
        }
        
    }
    
    .diploma-container {
        background-color: red;
        margin-bottom: 10px;
        margin-right:40px;
        width:70%;
        float:left;
    }
    
    .diplomaRequirement {
        text-align: center;
        padding-right: 20px;
        line-height: 34px;
        color: $color-whitefont;
        font-family:$font-titles;
    }
    
    .municipalWastewater {
        width: 80%;
        background-color: #008ba9;
    }
    
    .diploma-name {
        padding-right:30px;
        margin-top:8px;
        font-family:$font-text;
        color:$color-blackfont;
    }
}