@font-face {
    font-family: titleFont;
	src: url(../GrundfosTheSansV2OT-4SL.otf);
}

@font-face {
	font-family: textFont;
	src: url(../GrundfosTheSansV2OT-6SB.otf);
}

$font-titles: titleFont;
$font-text: textFont;
$font-bodytext: Tahoma, sans-serif;
$color-backgroundlight: #DCDCDC;
$color-backgrounddark: #959595;
$color-blackfont: #333333;
$color-bodytext: #727272;
$color-texthighlight: #0068B4;
$color-ctabutton: #6EB556;
$color-stndbutton: #3386C3;
$color-negbutton: #999999;
$color-inactbutton: #DEDEDE;
$color-whitefont: #ffffff;

body {
    margin:0;
}

.gridContainer {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas: 'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
    padding: 0;
	margin: 0;
	background-color: $color-backgroundlight;
	
	&__div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
	padding: 20px 0;
	border-color: black;
	}
}

.grundfosHeader {
	grid-area: header;
    width: 100%;
    padding: 0;
}

.grundfosFooter {
    grid-area: footer;
    width: 100%;
    padding: 0;
}

#headerimage {
    width: 100%;
    padding: 0;
}

#footerimage {
    width: 100%;
    padding: 0;
}

.leftNavMenu {
    grid-area: menu;
    
    h2 {
        color:$color-texthighlight;
        font-size:22px;
        text-align: left;
        margin-left:30px;
        font-family: $font-text;
    }
    
    ul li  {
        list-style: none;
        padding:0;
        margin:0;
        float:left;
        width:100%;
    }
	
	&__a {
		float:left;
		text-decoration: none;
		font-family: $font-text;
		color: $color-blackfont;
		text-align: left;
        margin-bottom: 10px;
        font-size:18px;

        &:hover {
            color: $color-texthighlight;
        }
	}
    
    i {
        color:$color-backgrounddark;
        width:20px;
        margin-left:-10px;
        text-align: center;
    }
}

.mainContent {
	grid-area: main;
    text-align: left;
    padding:0 50px 50px 50px;
    min-height:70vh;
    background-color:$color-whitefont;

    &__userList {
		border-collapse: collapse;
        width: 80%;
        border: 1px solid $color-backgrounddark;
	}
}

.userList {
	&__h1 {
		text-align: left;
		font-family: $font-titles;
        color: $color-blackfont;
        font-size: 3em;
        font-weight: 300;
	}
	
	&__h2 {
		text-align: left;
		font-family: $font-text;
		color: $color-blackfont;
        margin-bottom: 7%;
        font-weight: 300;
        font-size: 1.3em;
	}
}

#listHeader {
    text-align: left;
}

.listHeader {
    &__h2 {
        font-family: $font-text;
        color: $color-blackfont;
        font-size: 1.3em;
    }
    &__p {
        font-family: $font-bodytext;
        color: $color-bodytext;
        font-size: 1.3em;
    }
}

.listInput {
    font-family: $font-text;
    color: $color-blackfont;
    font-size: 1em;
    margin: auto;
}

#addBtn {
	background-color: $color-ctabutton;
	border: none;
	border-radius: 5px;
	color: $color-whitefont;
	font-family: $font-bodytext;
	text-align: center;
	cursor: pointer;
	height: 30px;
	width: 120px;
	font-size: 1em;
	margin: 2%;
	margin-left: 20px;
    transition: ease-in-out 0.3s;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);

    &:hover {
        background-color: #4aa22c;
        transition: ease-in-out 0.3s;
    }
}

#courseBtn {
	background-color: $color-stndbutton;
	border: none;
	border-radius: 5px;
	color: $color-whitefont;
	font-family: $font-bodytext;
	text-align: center;
	cursor: pointer;
	height: 30px;
	width: 120px;
	font-size: 1em;
    margin: 2%;
    margin-left: 20px;
    transition: ease-in-out 0.3s;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);

    &:hover {
        background-color: #0068b4;
        transition: ease-in-out 0.3s;
    }
}

.removeBtn {
    background-color: #dd0028;
    color: $color-whitefont;
    border: none;
    cursor: pointer;
    padding: 1% auto auto 1%;	
}

th, td {
    text-align: left;
    padding: 8px;
	font-family: $font-bodytext;
}

tr:nth-child(even){
	background-color: $color-backgroundlight;
}

th {
    background-color: $color-backgrounddark;
    color: $color-whitefont;
}

.userList {
	grid-area: main;
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
    width: 60%;
	
	&__li {
    list-style-type: none;
    text-align: center;
    line-height: 1em;
	color: $color-blackfont;
	font-family: $font-text;
	}
}

.grundfosFooter {
	grid-area: footer;
	text-align: center;
}

.rewardtitle {
	font-family: $font-titles;
	color: $color-blackfont;
	font-size: 3em;
    font-weight: 300;
}

.titleleft {
    font-family: $font-titles;
    color: $color-blackfont;
    font-size: 3em;
    font-weight: 300;
    text-align: left;
    margin-left: 20%;
    margin-bottom:0;
}

.rewardpictures {
	width: 60%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.productpictures {
    width: 50%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.mainContentReward {
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    background-color: $color-whitefont;
}

.mainContentCharity {
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: $color-whitefont;
    grid-row-gap: 5em;
    padding-bottom:80px;
    
    &__diplomaProgress {

        padding-bottom:0px;

        .diploma-name {
            float:left;
            width:180px;
            font-size:16px;
        }
    }

    .diploma-container {
        background-color: $color-backgrounddark;
        width:60%;
        border-radius:7px;
        margin: auto;
        margin-top:8px;
    }

    .diplomaRequirement {
        text-align: center;
        padding-right: 20px;
        line-height: 34px;
        color: $color-whitefont;
        font-family:$font-titles;
        border-radius:7px;
        background-color: $color-stndbutton;
    }

    .diploma-name {
        padding-right:30px;
        margin-top:8px;
        font-family:$font-text;
        color:$color-blackfont;
    }   
}

.mainContentProduct {
    grid-area: main;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: $color-whitefont;
    grid-row-gap: 5em;
}

.bodytextcharity {
    font-family: $font-bodytext;
    color: $color-bodytext;
    font-size: 1.3em;
    text-align: left;
}

.titletextcharity {
    font-family: $font-text;
    color: $color-blackfont;
    font-size: 1.8em;
    text-align: left;
    margin-top: 0;
}

.charitytext {
    margin-right:40px;
    text-align: left;
}


/* BUTTONS */
.readmorebtn {
	background-color: $color-stndbutton;
	border: none;
	border-radius: 5px;
	color: $color-whitefont;
	font-family: $font-bodytext;
	text-align: center;
	cursor: pointer;
	height: 50px;
	width: 150px;
	font-size: 1.3em;
	margin: 3%;
    transition: ease-in-out 0.3s;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);

    &:hover {
        background-color: #0068b4;
        transition: ease-in-out 0.3s;
    }
}

.donatebtn {
	background-color: $color-ctabutton;
	border: none;
	border-radius: 5px;
	color: $color-whitefont;
	font-family: $font-bodytext;
	text-align: center;
	cursor: pointer;
	height: 50px;
	width: 150px;
	font-size: 1.3em;
	margin: 3%;
	margin-left: 0;
    transition: ease-in-out 0.3s;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);

    &:hover {
        background-color: #4aa22c;
        transition: ease-in-out 0.3s;
    }
}

.facebookbtn {
    background-color: #3C5A99;
    border: none;
    border-radius: 5px;
    color: $color-whitefont;
    font-family: $font-bodytext;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-size: 1.3em;
    margin: 3%;
    margin-left: 0;
    transition: ease-in-out 0.3s;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);

    &:hover {
        background-color: #627aad;
        transition: ease-in-out 0.3s;
    }
}

.linkedinbtn {
    background-color: #0077B7;
    border: none;
    border-radius: 5px;
    color: $color-whitefont;
    font-family: $font-bodytext;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-size: 1.3em;
    margin: 3%;
    margin-left: 0;
    transition: ease-in-out 0.3s;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);

    &:hover {
        background-color: #4c9fcc;
        transition: ease-in-out 0.3s;
    }
}

.inactive {
    background-color: $color-inactbutton;
    cursor: auto;

    &:hover {
        background-color: $color-inactbutton;
    }
}

/* Index.php */

.intro {
    
    h1 {
        font-size:35px;
        font-family:$font-titles;
    }
    p {
        font-family:$font-bodytext;
        font-size:16px;
        
        strong {
            color:$color-texthighlight;
        }
    }
}

.intro-banner {
    background-image:url(../img/intro-banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height:325px;
    color:$color-whitefont;
    
    h2 {
        font-size:43px;
        font-family:$font-titles;
        padding-left:30px;
        padding-top:30px;
        margin-bottom:0;
    }
    
    p {
        font-size: 22px;
        font-family:$font-bodytext;
        padding-left:30px;
        margin-top:0;
        padding-top:30px;
        padding-bottom:30px;
    }
}

.highlighted-data {
    color:$color-texthighlight;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    background-color:$color-backgroundlight;
    padding-bottom: 30px;
    
    &__overview {
        font-size:22px;
        padding-left:30px;
        
        ul {
            list-style-type: none;
            padding:0;
            
            i {
                color:$color-negbutton;
                width:20px;
            }
            
            li {
                margin-top:20px;
                font-family: $font-text;
                color:$color-blackfont;
            }
        }
    }
    
    h3 {
        font-family:$font-titles;
        font-size:35px;
        color:$color-blackfont;
    }
    
    &__diplomaProgress {
        
        padding-bottom:0px;
        
        .diploma-name {
            float:left;
            width:180px;
            font-size:16px;
        }
        
    }
    
    .diploma-container {
        background-color: $color-backgrounddark;
        margin-bottom: 10px;
        margin-right:40px;
        width:70%;
        border-radius:7px;
        float:left;
    }
    
    .diplomaRequirement {
        text-align: center;
        padding-right: 20px;
        line-height: 34px;
        color: $color-whitefont;
        font-family:$font-titles;
        border-radius:7px;
        background-color: $color-stndbutton;
    }
    
    .diploma-name {
        padding-right:30px;
        margin-top:8px;
        font-family:$font-text;
        color:$color-blackfont;
    }
}

.activityFeed {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    margin-top:20px;
    background-color:$color-backgroundlight;
    padding-bottom: 30px;
    padding-left:30px;
    
    h3 {
        font-family:$font-titles;
        font-size:35px;
        color:$color-blackfont;
    }
    
    ul {
        list-style-type: none;
        padding:0;
        font-family: $font-bodytext;
        font-size:22px;
        line-height:18px;
    }
    
    li {
        margin-bottom:25px;
    }
    
    strong {
        color:$color-texthighlight;
    }
    
    small {
        color:$color-backgrounddark;
        font-size:16px;
        padding:0;
        margin:0;
    }
    
    i {
        color:$color-negbutton;
        width:20px;
    }
}

/* Diploma Progress */


.commercialBuildings {
    width: 75%;
}

.industry {
    width:50%;
}